@import "tailwindcss";

@theme {
  --font-sans: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Arial, sans-serif;
  --color-bg-base: #f3f2f1;
}

body {
  background-color: var(--color-bg-base);
  font-family: var(--font-sans);
  color: #323130;
}
